<div class="card">
  <div class="card-header" [class.expanded]="isExpanded" (click)="toggle()">
    {{ title }}
    <div
      class="fas float-right"
      [ngClass]="{
        'fa-angle-down': !isExpanded,
        'fa-angle-up': isExpanded
      }"
    ></div>
  </div>
  <div *ngIf="isExpanded" class="card-body"><ng-content></ng-content></div>
</div>
