<div>
  <h2>Pipes test</h2>
  <div>CasePipes: {{ course.tittle | uppercase | lowercase }}</div>
  <div>DecimalPipe: {{ course.students | number }}</div>
  <div>DecimalPipe with parameters: {{ course.rating | number:'2.2-2' }}</div>
  <div>CurrencyPipe: {{ course.price | currency:'AUD':'symbol':'3.1-1' }}</div>
  <div>DatePipe: {{ course.releaseDate | date:'shortDate' }}</div>
  <div>{{ 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis reiciendis temporibus voluptatem, enim in
    ad eum beatae. Voluptates, illo aut. Optio quisquam odit beatae incidunt consectetur quibusdam. Accusamus,
    distinctio quis.' | summary:'10' }}</div>
</div>
