<zippy title="Some title"
  >Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quod recusandae
  harum, voluptas accusamus maxime mollitia, corporis sed dicta ratione
  assumenda voluptatibus velit eveniet commodi reprehenderit sequi architecto
  suscipit cupiditate.</zippy
>
<nav></nav>
<like [likeCount]="tweet.likeCount" [isActive]="tweet.isLiked"></like>
<bootstrap-card>
  <ng-container class="heading">Heading</ng-container>
  <div class="body">
    <h2>Body</h2>
    <p>Some text here...</p>
  </div>
</bootstrap-card>
<div style="text-align:center">
  <input type="text" [(ngModel)]="title" />
  <h3>{{ title | titleCase }}</h3>
</div>
<favorite
  [is-favorite]="post.isFavorite"
  (change)="onFavoriteChanged($event)"
></favorite>
<app-course></app-course>
<courses></courses>
<app-authors></app-authors>
