<h1>Authors: {{ authors.length }}</h1>
<ul *ngIf="authors.length > 0">
  <li *ngFor="let author of authors">{{ author }}</li>
</ul>
<div *ngIf="authors.length === 0">list of authors is empty</div>
<!-- or -->
<ul *ngIf="authors.length > 0; else noAuthors">
  <li *ngFor="let author of authors">{{ author }}</li>
</ul>
<!-- or -->
<ng-container
  *ngIf="authors.length > 0; then authorsList; else noAuthors"
></ng-container>

<ng-template #authorsList>
  <ul>
    <li *ngFor="let author of authors">{{ author }}</li>
  </ul>
</ng-template>
<ng-template #noAuthors>list of authors is empty</ng-template>
<!-- or if have small DOM tree or hiding is costly -->
<ul [hidden]="authors.length === 0">
  <li *ngFor="let author of authors">{{ author }}</li>
</ul>
<div [hidden]="authors.length > 0">list of authors is empty</div>
